---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search?hapikey=<POST_HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"1609883579773","propertyName":"lastmodifieddate","operator":"GTE"}]}],"after":null,"limit":25}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B43B224792F3B57C4F3B4084FECA7996882BD6C21000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249855'
    body:
      encoding: ASCII-8BIT
      string: '{"total":1,"results":[{"id":"24251","properties":{"createdate":"2020-12-04T14:19:14.291Z","email":"robinbortlik@gmail.com","firstname":null,"hs_object_id":"24251","lastmodifieddate":"2021-01-06T11:49:56.683Z","lastname":null},"createdAt":"2020-12-04T14:19:14.291Z","updatedAt":"2021-01-06T11:49:56.683Z","archived":false}]}'
  recorded_at: Wed, 06 Jan 2021 21:53:00 GMT
recorded_with: VCR 6.0.0
