---
http_interactions:
- request:
    method: post
    uri: https://api.hubapi.com/crm/v3/objects/contacts/search?hapikey=<POST_HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"filterGroups":[{"filters":[{"value":"1609970034541","propertyName":"lastmodifieddate","operator":"GTE"}]}],"after":null,"limit":25}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B216C89B7E67CD2D684235C4C3171D6A438E93141000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249854'
    body:
      encoding: UTF-8
      string: '{"total":0,"results":[]}'
  recorded_at: Wed, 06 Jan 2021 21:53:55 GMT
recorded_with: VCR 6.0.0
