---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doe.com?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"subscriptionStatuses":[{"id":8398069,"subscribed":true,"optState":"OPT_IN","legalBasis":"LEGITIMATE_INTEREST_CLIENT","legalBasisExplanation":"User
        opted in through Leanlife platform."}],"portalSubscriptionLegalBasis":"LEGITIMATE_INTEREST_CLIENT","portalSubscriptionLegalBasisExplanation":"User
        opted in through Leanlife platform."}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BE52DF41436FB23EA5CAABC935CAD90D92C8D401B000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249907'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 05 Jan 2021 13:09:18 GMT
recorded_with: VCR 6.0.0
