---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/email/public/v1/subscriptions/test@<HAPI_KEY>.com?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B1E0915B79742B36802452A8DE1BE15FF26F9F002000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999336'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '159'
      X-Hubspot-Ratelimit-Max:
      - '160'
      X-Hubspot-Ratelimit-Secondly:
      - '16'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"subscribed":true,"markedAsSpam":false,"unsubscribeFromPortal":false,"portalId":62515,"bounced":true,"email":"test@<HAPI_KEY>.com","subscriptionStatuses":[],"status":"subscribed"}'
  recorded_at: Tue, 05 Jan 2021 12:17:10 GMT
- request:
    method: get
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doe.com?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BBA157D5100EBA5D6EC491B3A1909B4C930FD7E28000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999298'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '158'
      X-Hubspot-Ratelimit-Max:
      - '160'
      X-Hubspot-Ratelimit-Secondly:
      - '16'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"subscribed":true,"markedAsSpam":false,"unsubscribeFromPortal":false,"portalId":62515,"bounced":true,"email":"john@doe.com","subscriptionStatuses":[],"status":"subscribed"}'
  recorded_at: Tue, 05 Jan 2021 12:56:03 GMT
recorded_with: VCR 6.0.0
