---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doetest.com?hapikey=<POST_HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BCA2E5D48CF3FA95C7F64CB05529480EB3FD3B328000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249983'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '96'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"subscribed":true,"markedAsSpam":false,"unsubscribeFromPortal":false,"portalId":7104703,"bounced":false,"email":"john@doetest.com","subscriptionStatuses":[{"id":8398069,"updatedAt":1610021951240,"subscribed":false,"optState":"OPT_OUT"}],"status":"subscribed"}'
  recorded_at: Thu, 07 Jan 2021 12:19:11 GMT
recorded_with: VCR 6.0.0
