---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doetest.com?hapikey=<HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B64A638A0610C35173D648697989879544D46AFA6000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '1000000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '999140'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '159'
      X-Hubspot-Ratelimit-Max:
      - '160'
      X-Hubspot-Ratelimit-Secondly:
      - '16'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '15'
    body:
      encoding: ASCII-8BIT
      string: '{"subscribed":true,"markedAsSpam":false,"unsubscribeFromPortal":false,"portalId":62515,"bounced":false,"email":"john@doetest.com","subscriptionStatuses":[],"status":"subscribed"}'
  recorded_at: Thu, 07 Jan 2021 12:19:10 GMT
recorded_with: VCR 6.0.0
