---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doe.com?hapikey=demo
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2B4FAC61AC78B20C58A0A913D830151CD49448FB80000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249906'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"subscribed":true,"markedAsSpam":false,"unsubscribeFromPortal":false,"portalId":7104703,"bounced":true,"email":"john@doe.com","subscriptionStatuses":[{"id":8398069,"updatedAt":1609852158635,"subscribed":true,"optState":"OPT_IN","legalBasis":"LEGITIMATE_INTEREST_CLIENT","legalBasisExplanation":"User
        opted in through Leanlife platform."}],"status":"subscribed"}'
  recorded_at: Tue, 05 Jan 2021 13:09:18 GMT
recorded_with: VCR 6.0.0
