---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doe.com?hapikey=demo
    body:
      encoding: UTF-8
      string: '{"subscriptionStatuses":[{"id":8398069,"subscribed":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BDBC56D6828F91EA47E1CC77A378F1C6ED8E6F023000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249905'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '97'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Tue, 05 Jan 2021 13:09:19 GMT
recorded_with: VCR 6.0.0
