---
http_interactions:
- request:
    method: get
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doetest2.com?hapikey=<POST_HAPI_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BB697A294EEC7DE56861F499E1D05074B7D67602A000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249980'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '98'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: ASCII-8BIT
      string: '{"subscribed":false,"markedAsSpam":false,"unsubscribeFromPortal":true,"portalId":7104703,"bounced":false,"email":"john@doetest2.com","subscriptionStatuses":[],"status":"unsubscribed"}'
  recorded_at: Thu, 07 Jan 2021 12:23:12 GMT
recorded_with: VCR 6.0.0
