---
http_interactions:
- request:
    method: put
    uri: https://api.hubapi.com/email/public/v1/subscriptions/john@doetest.com?hapikey=<POST_HAPI_KEY>
    body:
      encoding: UTF-8
      string: '{"subscriptionStatuses":[{"id":8398069,"subscribed":true,"optState":"OPT_IN","legalBasis":"LEGITIMATE_INTEREST_CLIENT","legalBasisExplanation":"Explanation"}],"portalSubscriptionLegalBasis":"LEGITIMATE_INTEREST_CLIENT","portalSubscriptionLegalBasisExplanation":"Explanation"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Trace:
      - 2BA5807A9D2F7A0C0099F15F4DA00FABA1DEDB5F8E000000000000000000
      X-Hubspot-Ratelimit-Daily:
      - '250000'
      X-Hubspot-Ratelimit-Daily-Remaining:
      - '249986'
      X-Hubspot-Ratelimit-Interval-Milliseconds:
      - '10000'
      X-Hubspot-Ratelimit-Remaining:
      - '99'
      X-Hubspot-Ratelimit-Max:
      - '100'
      X-Hubspot-Ratelimit-Secondly:
      - '10'
      X-Hubspot-Ratelimit-Secondly-Remaining:
      - '9'
    body:
      encoding: UTF-8
      string: '{"success":true}'
  recorded_at: Thu, 07 Jan 2021 12:19:10 GMT
recorded_with: VCR 6.0.0
